*.ignore
.vscode
.env
venv
.ipynb_checkpoints
quotes-2019-nytimes.json.bz2
speaker_attributes.parquet
schema_speaker_attributes
quotes-2019.json.bz2
politicians_github.csv
small.json

data/*.parquet
data/*.json.bz2
data/pkl
data/*.tar.gz
data/csv/final_subset.csv
data/events/*.zip

old_code/data
logistic_thinkers_EDA.ipynb
logistic_thinkers_EDA.txt

.DS_Store


tempCodeRunnerFile.python
final_subset_flaired.pkl
